<div>
    {{#each visits as |visit|}}
    <div class="container">
        <div class="accordion" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#visit-{{visit.visit_id}}"
                            aria-expanded="true" aria-controls="visit-{{visit.visit_id}}">
                            {{format_date visit.createdAt}}
                        </button>
                    </h2>
                </div>

                <div id="visit-{{visit.visit_id}}" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b></b>Doctor:</b> {{visit.doctor.first_name}} {{visit.doctor.last_name}}
                                <br><b></b>Phone Number:</b> {{visit.doctor.phone}}
                                <br><b></b>Email:</b> {{visit.doctor.email}}
                            </li>
                            <li class="list-group-item">
                                <b></b>Patient:</b> {{visit.patient.first_name}} {{visit.patient.last_name}}
                                <br><b></b>Phone Number:</b> {{visit.patient.phone}}
                                <br><b></b>Email:</b> {{visit.patient.email}}
                            <li class="list-group-item">
                                <b></b>Ailment:</b> {{visit.ailment.ailment_name}}
                                <br><b></b>Treatment:</b> {{visit.ailment.treatment}}
                            </li>
                            <li class="list-group-item">
                                <b></b>Note:</b> {{visit.visit_note}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>