<div class="main_container">
  <h2>Add Visit</h2>

  <form id="newVisitForm" method="post">
    {{!-- <div class="imgcontainer">
      <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
    </div> --}}

    <div class="container">
      <div class="form-group">
        <label for="patient">Choose a patient:</label> 
        <select class='form-control' name='patient' id='patient'>
          {{#each dataObj.patients as |patient|}}
            <option value="{{patient.user_id}}">{{patient.first_name}} {{patient.last_name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="doctor">Choose a doctor:</label> 
        <select name='doctor' class='form-control' id='doctor'>
        {{#each dataObj.doctors as |doctor|}}
            <option value="{{doctor.user_id}}">{{doctor.first_name}} {{doctor.last_name}}</option>
        {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="ailment">Choose an ailment:</label> 
        <select name='ailment' class='form-control' id='ailment'>
        {{#each dataObj.ailments as |ailment|}}
            <option value="{{ailment.ailment_id}}">{{ailment.ailment_name}}</option>
        {{/each}}
        </select>
      </div>
      <label for="visitDate"><b>Visit Date</b></label>
      <input id='visitDate' type="text" placeholder="YYYY-MM-DD" name="visitDate" required>

      <label for="visitNote"><b>Visit Note</b></label>
      <input id='visitNote' type="text" placeholder="Enter visit note" name="visitNote" required>

      <button type="submit">Submit</button>
    </div>

  </form>
</div>
  <script src="/javascript/visits-form.js"></script>